services:
  ######################################################################################################################
  # Microservices
  ######################################################################################################################
  location-service:
    image: positionpal/location-service:5.9.0@sha256:b93daecbc491d32e06e9b53ad565c600357712d18a577ae7c25c571fd7757b51
    container_name: location-service
    depends_on:
      rabbitmq-broker:
        condition: service_healthy
      cassandra-db:
        condition: service_healthy
      cassandra-init:
        condition: service_completed_successfully
    environment:
      MAPBOX_API_KEY: ${MAPBOX_API_KEY}
      AKKA_LICENSE_KEY: ${AKKA_LICENSE_KEY}
      RABBITMQ_HOST: rabbitmq-broker
      RABBITMQ_VIRTUAL_HOST: /
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: guest
      RABBITMQ_PASSWORD: admin
      GRPC_PORT: 5052
      HTTP_PORT: 8080
      PRODUCTION: false
      CASSANDRA_CONTACT_POINT: cassandra-db:9042
      CASSANDRA_USERNAME: cassandra
      CASSANDRA_PASSWORD: cassandra
    networks:
      - back-tier

  notification-service:
    image: positionpal/notification-service:2.12.0@sha256:423d299a3cf0371e5ffb90063953cbc19ed1b6fb525163b555c9c4895f47bc55
    container_name: notification-service
    depends_on:
      rabbitmq-broker:
        condition: service_healthy
      postgres-db:
        condition: service_healthy
    environment:
      RABBITMQ_HOST: rabbitmq-broker
      RABBITMQ_VIRTUAL_HOST: /
      RABBITMQ_USERNAME: guest
      RABBITMQ_PASSWORD: admin
      RABBITMQ_PORT: 5672
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: postgres-db
      POSTGRES_PORT: 5432
      GRPC_PORT: 5052
      FIREBASE_SERVICE_ACCOUNT_FILE_PATH: /service-account.json
    volumes:
      - ./secrets/service-account.json:/service-account.json
    networks:
      - back-tier

  user-service:
    image: positionpal/user-service:2.9.0@sha256:44908ad332cf931114bbe15664d4c8b8752decc05e28c29123f32a5eae785f70
    container_name: user-service
    depends_on:
      postgres-db:
        condition: service_healthy
      rabbitmq-broker:
        condition: service_healthy
    environment:
      POSTGRES_DB: "users_and_groups"
      POSTGRES_HOST: postgres-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      JWT_SECRET: mUOoxn4zZQU6Vbpe1WFO7wou5YZe5zbsoSLVSlMGn4I= # don't worry, no secret exposed. This was randomly generated and is not used in production!
      RABBITMQ_HOST: rabbitmq-broker
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: guest
      RABBITMQ_PASSWORD: admin
      USER_SERVICE_PORT: 5052
    networks:
      - back-tier

  # chat-service:
  #   image: positionpal/chat-service:3.3.1
  #   container_name: chat-service
  #   depends_on:
  #     rabbitmq-broker:
  #       condition: service_healthy
  #     cassandra-db:
  #       condition: service_healthy
  #     cassandra-init:
  #       condition: service_completed_successfully
  #   environment:
  #     AKKA_LICENSE_KEY: ${AKKA_LICENSE_KEY}
  #     RABBITMQ_HOST: rabbitmq-broker
  #     RABBITMQ_VIRTUAL_HOST: /
  #     RABBITMQ_PORT: 5672
  #     RABBITMQ_USERNAME: guest
  #     RABBITMQ_PASSWORD: admin
  #     USER_SERVICE_EVENT_QUEUE: group_updates_chat_service
  #     GRPC_PORT: 5052
  #     HTTP_PORT: 8080
  #     CASSANDRA_CONTACT_POINT: cassandra-db:9042
  #     CASSANDRA_USERNAME: cassandra
  #     CASSANDRA_PASSWORD: cassandra
  #     LOG_LEVEL: DEBUG
  #   networks:
  #     - back-tier

  gateway:
    image: positionpal/gateway:3.2.0@sha256:2332218ad642d4523958f8b0d1c5949ce1a82912c43f69d983c46267a3d22c69
    container_name: gateway
    depends_on:
      - user-service
      - location-service
      - notification-service
    ports:
      - "3000:3000"
    environment:
      LOCATION_SERVICE_HTTP_URL: location-service:8080
      LOCATION_SERVICE_GRPC_URL: location-service:5052
      NOTIFICATION_SERVICE_GRPC_URL: notification-service:5052
      USER_SERVICE_URL: user-service:5052
    networks:
      - back-tier
      - front-tier

  ######################################################################################################################
  # Infrastructure components
  ######################################################################################################################
  cassandra-db:
    image: cassandra:latest@sha256:5e2c85d2d5db759c28c3efb50905f8d237f958321d6dfd8c176cb148700d9ade
    container_name: cassandra-db
    healthcheck:
      test: [ "CMD", "cqlsh", "-e", "describe keyspaces" ]
      interval: 5s
      timeout: 5s
      retries: 60
    networks:
      - back-tier

  cassandra-init:
    image: cassandra:latest@sha256:5e2c85d2d5db759c28c3efb50905f8d237f958321d6dfd8c176cb148700d9ade
    container_name: cassandra-init
    depends_on:
      cassandra-db:
        condition: service_healthy
    volumes:
      - ./scripts/init-cassandra.sh:/init.sh
    command: ["/bin/bash", "/init.sh"]
    networks:
      - back-tier

  rabbitmq-broker:
    image: rabbitmq:4-management@sha256:5ad13a8d526f01e8e7c842aace0bc233476528a31a600b53659f3f10d258013e
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: admin
    # ports:
    #   - "15672:15672" # the port the dashboard web service will be available from, for debugging
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      - back-tier

  postgres-db:
    image: postgres:18.2@sha256:b6b4d0b75c699a2c94dfc5a94fe09f38630f3b67ab0e1653ede1b7ac8e13c197
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./.tmp/:/docker-entrypoint-initdb.d/
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U postgres'"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
      - back-tier

networks:
  back-tier:
    driver: bridge
    internal: false
  front-tier:
    driver: bridge
    internal: false
