name: Continuous Integration

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test-compose:
    runs-on: ubuntu-24.04
    env:
      SCRIPTS_DIR: .github/scripts
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: '3.14'
      - name: Setup python requirements
        run: cd $SCRIPTS_DIR && pip install -r requirements.txt
      - name: Setup secrets
        uses: mobiledevops/secret-to-file-action@be5f14e82c235ccde011f6ab0f6c984b35dc34c6 # v1
        with:
          base64-encoded-secret: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          filename: service-account.json
          working-directory: ./secrets
      - name: Test local deploy up
        run: ./local-deploy.sh up
      - name: Check all containers are up and running
        run: |
          EXCLUDED_CONTAINERS="cassandra-init"
          python $SCRIPTS_DIR/check-containers.py $EXCLUDED_CONTAINERS
      - name: Docker local deploy down
        run: ./local-deploy.sh down
  
  success:
    needs:
      - test-compose
    if:
      >- # run if at least one needed job has failed or all needed jobs have not been cancelled
      always() && (
        contains(join(needs.*.result, ','), 'failure')
        || !contains(join(needs.*.result, ','), 'cancelled')
      )
    runs-on: ubuntu-24.04
    steps:
      - name: Verify no failures occurred in needed jobs
        # if there are failures, false is executed and the job fails.
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
